model_config_list {
	config{
		name: 'tomatoes_model'
		base_path: '/Tomato-disease/saved_models'
		model_platform: 'tensorflow'
		model_version_policy: {
			specific {
				version: 1
				version: 2
			}
		}
		version_labels{
			key: 'prod'
			value: 1
		}
		version_labels{
			key: 'beta'
			value: 2
		}
}
